# .env
POSTGRES_USER=DB_USER_HERE
POSTGRES_PASSWORD=DB_PW_HERE
POSTGRES_DB=DB_NAME_HERE

# The full connection string for .NET
DB_CONNECTION_STRING="Host=db;Port=5432;Database=DB_NAME_HERE;Username=DB_USER_HERE;Password=DB_PW_HERE;"