@import "tailwindcss";
@layer base {
  body {
    @apply bg-blue-50 text-gray-800;
  }

  h1, h2, h3 {
    @apply font-semibold;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white px-6 py-2 rounded-lg shadow-md hover:bg-blue-700 transition;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-800 px-6 py-2 rounded-lg hover:bg-gray-300 transition;
  }

  .card {
    @apply bg-white shadow-lg rounded-xl p-8;
  }

  .input-field {
    @apply w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400;
  }
}

